.idea/
.vscode/
client/src/.idea/
*.iml
*.iws
*.ipr
*.classpath
*.project
*.factorypath
*.apt_generated
.settings/
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
target/
build/
server/target/
client/target/
server/data/
server/uploads/
server/backend-restart*.log
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
